.my-btn-floating{
  display: inline-block;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  background-color: #26a69a;
  border-radius: 50%;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  cursor: pointer;
  vertical-align: middle;
}
.navcolor{
	color:black;
}
.bg{
    background-image: url("../Images/books-connection-contemporary-459654.jpg");
    height: 100%;
	background-position: center;
    background-repeat: no-repeat;
	background-attachment: fixed;
}
.margin-of-avatar{
		position:relative;
		top:-80;
		margin-bottom:-60;
	}
.margin-of-avatar-in-signup{
		position:relative;
		top:-90;
		margin-bottom:45;
	}
.card_opa{
	background: rgba(255, 255, 255, 0.7);
}
.pulse {
  margin:100px;
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #cca92c;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(27,64,64, 0.4);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(25,76,76, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(63,191,192, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(25,76,76, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(25,107,107, 0.4);
    box-shadow: 0 0 0 0 rgba(34,107,107, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(42,100,100, 0);
      box-shadow: 0 0 0 10px rgba(42,100,100, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(27,64,64, 0);
      box-shadow: 0 0 0 0 rgba(27,64,64, 0);
  }
}